@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html,body{
    width: 100%;
    height: 100%;
}

header{
    background-color: lightblue;
}

.imagem-cabecalho{
    margin-left: 15%;
}
h1{
    position: absolute;
    right: 0%;
    top: 50%;
    margin-right: 15%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2em;
    font-weight: bold;
    transform: translateY(-50%);
    display: inline;
}

.cabecalho{
    position: relative;
    width: 80vw;    
    margin: auto;
}

main{
    position: relative;
    background-color: #f4f4f4;
    height: 80vh;
}

form{
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;
}

textarea#texto-digitado{
    display: inline-block;
    background-color: transparent;
    border: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    resize: none;
    width: 30%;
    height: 70%;
    margin-left: 20%;
    margin-top: 5%;
}

form img{
    width: 4%;
}

.aviso-letras{
    position: absolute;
    left: 20%;
    bottom: 14%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.05vw;
}

.botao{
    display: inline-block;
    font-family: 'Share Tech Mono', monospace;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    font-size: 1vw;
    width: 10vw;
    height: 5vh;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2%;
}

button#criptografar{  
    background-color: lightblue;
    left: 20%;
    bottom: 5%;
}

button#descriptografar{
    left: 35%;
    bottom: 5%;
    margin-left: 2%;
}

.texto-resultado{
    position: absolute;
    top: 8%;
    right: 20%;
    display: inline-block;
    background-color: white;
    width: 20%;
    height: 85%;
    margin-left: 5%;
    border-radius: 10px;
}

.texto-resultado p{
    font-family: 'Share Tech Mono', monospace;
    margin: 7% 7%;
    word-wrap: break-word;
}

button#copiar{
    position: absolute;
    bottom: 1%;
    left: 10%;
    width: 30%;
}

footer{
    position: relative;
    background-color: lightblue;
    height: 20vh;
}

footer ul, footer p{
    text-align: center;
}

footer li{
    display: inline-block;
    margin: 1% 0.7%;
}

.item-footer img{
    width: 2vw;
}

footer p{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.15em;
    margin: 1% 0%;
}

@media screen and (max-width:480px){
    main{
        height: 90vh;
    }
    .cabecalho{
        position: static;
        box-sizing: border-box;
        height: 60px;
        padding: 40px;
    }

    .imagem-cabecalho{
        display: none;
    }

    .cabecalho h1{
        display: inline-block;
        position: static;
        font-size: 2em;
        width: fit-content;      
    }

    form{
        position: relative;
        height: 100%;
        width: 80%;
        margin: auto;
        text-align: center;
    }
    
    textarea#texto-digitado{
        width: 80vw;
        height: 40vh;
        margin: 2vh auto;
        font-size: 1.3em;
    }

    .botao{
        position: absolute;
        display: inline-block;
        font-family: 'Share Tech Mono', monospace;
        box-sizing: border-box;
        text-align: center;
        font-size: 1.2em;
        width: 65vw;
        height: 10vh;
        padding: 1%;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 2%;
    }

    button#criptografar{  
        background-color: lightblue;
        left: 5%;
        bottom: 40%;
    }

    button#descriptografar{
        left: 4%;
        bottom: 25%;
    }

    .texto-resultado{
        position: absolute;
        top: 70vh;
        left: 3vw;
        display: inline-block;
        background-color: rgb(255, 255, 255);
        width: 90vw;
        height: 18vh;
        margin: auto;
        border-radius: 10px;
        font-size: 1em;
    }

    button#copiar{
        text-align: center;
        font-size: 1em;
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translate(-50%,50%);
        width: 30vw;
        height: 4.7vh;
    }

    footer{
        position: relative;
        background-color: lightblue;
        padding-top: 30px;
        margin-top: 20px;
    }
    
    footer ul, footer p{
        text-align: center;
    }
    
    footer li{
        display: inline-block;
        max-width: 480px;
        margin: 1% auto;
    }
    
    .item-footer img{
        width: 10vw;
        margin-left: 10px;
    }
    
    footer p{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-family: 'Share Tech Mono', monospace;
        font-size: 1.29em;
        color: black;
        margin: 1% 0% 0% 0%;
    }
}